.item {
  color: rgb(209, 105, 209);
  font-size: 30px;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
}
.checked {
  text-decoration: line-through;
  color: aqua;
}
.container_for_delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 10px;
  padding-top: 10px;
}

.checkboxContainer {
  display: flex;
  align-items: baseline;
}
