.item {
  margin: 5px;
  color: rgb(209, 105, 209);
  font-size: 30px;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
}
.checked {
  text-decoration: line-through;
}
.container_for_delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 10px;
  padding-top: 10px;
}

.checkboxContainer {
  display: flex;
  align-items: baseline;

  input {
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin-right: 5px;
  }
}
svg {
  filter: drop-shadow(4px 2px 2px rgb(0 0 0 / 0.3));
}
